
SMS Services/SMS_Services/SMS_Services/obj/Debug/net6.0/refint/SMS_Services.dll
SMS Services/SMS_Services/SMS_Services/obj/Debug/net6.0/ref/SMS_Services.dll
SMS Services/SMS_Services/SMS_Services/obj/Debug/net6.0/SMS_Services.dll
SMS Services/SMS_Services/SMS_Services/obj/Debug/net6.0/SMS_Services.pdb
*.v2
SMS Services/SMS_Services/.vs/SMS_Services/v17/.futdcache.v2
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/e8d77d7c-ef82-4a85-8bf2-085cc40afa50.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/e4e1e4e7-24d2-4d4a-8eab-b17644bd73d9.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/9fdcafee-4670-40cc-8442-b274d65dbd22.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/813a260b-2d05-426f-84d9-d384f0360c6d.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/v17/.futdcache.v2
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/9fdcafee-4670-40cc-8442-b274d65dbd22.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/813a260b-2d05-426f-84d9-d384f0360c6d.vsidx
