SMS Services/SMS_Services/SMS_Services/obj/*
SMS Services/SMS_Services/SMS_Services/bin/*

SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/e4e1e4e7-24d2-4d4a-8eab-b17644bd73d9.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/e8d77d7c-ef82-4a85-8bf2-085cc40afa50.vsidx
SMS_APP/.vs/SMS_APP/FileContentIndex/6d4f30e1-fae7-48b3-a0d2-284f3f5359bb.vsidx
SMS_APP/.vs/SMS_APP/FileContentIndex/9daab029-27ab-4192-8aab-669974d2d491.vsidx
SMS_APP/.vs/SMS_APP/FileContentIndex/read.lock
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/SMS_APP.AssemblyInfo.cs
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/SMS_APP.AssemblyInfoInputs.cache
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/SMS_APP.assets.cache
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/SMS_APP.csproj.AssemblyReference.cache
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/SMS_APP.designer.deps.json
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/SMS_APP.designer.runtimeconfig.json
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/SMS_APP.GeneratedMSBuildEditorConfig.editorconfig
SMS_APP/SMS_APP/obj/Debug/net6.0-windows/SMS_APP.GlobalUsings.g.cs
SMS_APP/SMS_APP/obj/project.assets.json
SMS_APP/SMS_APP/obj/project.nuget.cache
SMS_APP/SMS_APP/obj/SMS_APP.csproj.nuget.dgspec.json
SMS_APP/SMS_APP/obj/SMS_APP.csproj.nuget.g.props
SMS_APP/SMS_APP/obj/SMS_APP.csproj.nuget.g.targets
App/.vs/App/FileContentIndex/22612397-ecd0-49c0-ae8b-093d9126065a.vsidx
App/.vs/App/FileContentIndex/2c45a926-abbd-4ba9-ba21-2050addaa532.vsidx
App/.vs/App/FileContentIndex/a7092f5f-4fcb-4631-a6f1-cbbe4181cf73.vsidx
App/.vs/App/FileContentIndex/f2d31799-33a2-4903-8318-05c6ddde76c9.vsidx
App/.vs/App/FileContentIndex/read.lock
App/App/bin/Debug/App.exe
App/App/bin/Debug/App.exe.config
App/App/bin/Debug/App.pdb
App/App/bin/Debug/EntityFramework.dll
App/App/bin/Debug/EntityFramework.SqlServer.dll
App/App/bin/Debug/GSMCommShared.dll
App/App/bin/Debug/GSMCommunication.dll
App/App/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
App/App/bin/Debug/Newtonsoft.Json.dll
App/App/bin/Debug/PDUConverter.dll
App/App/bin/Debug/RestSharp.dll
App/App/bin/Debug/SMS_LIB.dll
App/App/bin/Debug/System.Buffers.dll
App/App/bin/Debug/System.CodeDom.dll
App/App/bin/Debug/System.Memory.dll
App/App/bin/Debug/System.Numerics.Vectors.dll
App/App/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
App/App/bin/Debug/System.Text.Encodings.Web.dll
App/App/bin/Debug/System.Text.Json.dll
App/App/bin/Debug/System.Threading.Tasks.Extensions.dll
App/App/bin/Debug/System.ValueTuple.dll
App/App/obj/App.csproj.nuget.g.props
App/App/obj/App.csproj.nuget.g.targets
App/App/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
App/App/obj/Debug/App.csproj.AssemblyReference.cache
App/App/obj/Debug/App.csproj.CopyComplete
App/App/obj/Debug/App.csproj.CoreCompileInputs.cache
App/App/obj/Debug/App.csproj.FileListAbsolute.txt
App/App/obj/Debug/App.csproj.GenerateResource.cache
App/App/obj/Debug/App.csproj.SuggestedBindingRedirects.cache
App/App/obj/Debug/App.exe
App/App/obj/Debug/App.exe.config
App/App/obj/Debug/App.FormConfig.resources
App/App/obj/Debug/App.FormLogin.resources
App/App/obj/Debug/App.FormMain.resources
App/App/obj/Debug/App.FormRegister.resources
App/App/obj/Debug/App.FromReadSMS.resources
App/App/obj/Debug/App.Migrations.initdb1.resources
App/App/obj/Debug/App.pdb
App/App/obj/Debug/App.Properties.Resources.resources
App/App/obj/Debug/DesignTimeResolveAssemblyReferences.cache
App/App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
App/App/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
App/App/obj/project.nuget.cache
SMS Services/SMS_Services/.vs/ProjectEvaluation/sms_services.metadata.v6.1
SMS Services/SMS_Services/.vs/ProjectEvaluation/sms_services.projects.v6.1
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/2b2a3a72-4ce5-46e4-9e3c-1b91223de0dc.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/e848453c-f528-4b22-87a9-5d33620f32da.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/v17/.futdcache.v2
SMS Services/SMS_Services/.vs/ProjectEvaluation/sms_services.metadata.v6.1
SMS Services/SMS_Services/.vs/ProjectEvaluation/sms_services.projects.v6.1
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/e848453c-f528-4b22-87a9-5d33620f32da.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/v17/.futdcache.v2
SMS Services/SMS_Services/.vs/ProjectEvaluation/sms_services.metadata.v6.1
SMS Services/SMS_Services/.vs/ProjectEvaluation/sms_services.projects.v6.1
SMS Services/SMS_Services/.vs/SMS_Services/FileContentIndex/e848453c-f528-4b22-87a9-5d33620f32da.vsidx
SMS Services/SMS_Services/.vs/SMS_Services/v17/.futdcache.v2
App/.vs/App/FileContentIndex/f62a5040-cab1-418e-aa84-eea43fa06e7b.vsidx
App/.vs/App/FileContentIndex/b0d4c902-e082-4b33-b382-75227b495e40.vsidx
App/.vs/App/FileContentIndex/9b1f09c7-445a-4232-a7b7-73613c9643a6.vsidx
App/.vs/App/FileContentIndex/77ca72e0-4389-4418-ad9f-76eec91ced3f.vsidx
App/.vs/App/FileContentIndex/5c833697-1281-42e3-9ffe-ca250c44d071.vsidx
App/.vs/App/FileContentIndex/4ee371bc-8041-4900-833d-b9c7b1267271.vsidx
App/.vs/App/FileContentIndex/26bbd5c0-f5f7-4f04-a4ba-bf24ece06d5b.vsidx
App/App/obj/Debug/App.application
App/App/obj/Debug/App.exe.manifest
