<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=KRIZPHAM-PC;Persist Security Info=True;Integrated Security=True;Initial Catalog=SMS_Services_App;App=EntityFramework" providerName="System.Data.SqlClient" />
		<!--<add name="Database" connectionString="Data Source=KRIZPHAM-PC;Persist Security Info=True;User ID=smsinfo;Password=smsinfo@@123@;Initial Catalog=SMS_Services_App;App=EntityFramework" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>