.layout{
    height:200vh;
    width: 100vw;
    background-color: #dfe6e9;
    margin: 0;
    padding: 0;
}
.pc{
    box-shadow: 0px 3px 10px rgb(0 0 0 / 25%);
    border-radius: 4px;
}
@media only screen and (min-width:1501px) and (max-width:2560px){
    .pc{
        padding: 50px ;
        margin-top: 7rem;
        /* margin-left: 30rem; */
        margin: auto;
        width: 100%;
        height: 50%;
    }
    .colh3{
        margin-inline-start: 25% !important;
    }
    .col{
        margin-inline-start: 25% !important;
        width: 100%;
    }
    .layout{
        height:100vh;
        width: 100vw;
        background-color: #dfe6e9;
    }
    /* .h3{
        margin-left: 10rem;
    } */
}
@media only screen and (min-width:1201px) and (max-width:1500px){
    .pc{
        padding: 50px ;
        margin-top: 7rem;
        /* margin-left: 30rem; */
        margin: auto;
        width: 100%;
        height: 70%;
    }
    .colh3{
        margin-inline-start: 25% !important;
    }
    .col{
        margin-inline-start: 25% !important;
        width: 100%;
    }
    .layout{
        height:100vh;
        width: 100vw;
        background-color: #dfe6e9;
    }
    /* .h3{
        margin-left: 10rem;
    } */
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    .pc{
        padding: 50px;
        margin-top: 5rem;
        margin-left: 15rem;
    }
    .h3{
        margin-left: 10rem;
    }
    .col{
        margin-inline-start: 25% !important;
        width: 100%;
    }
}
@media only screen and (max-width:426px){
    .pc{
        padding: 10px;
        margin-left: 10rem;
        margin-top: 3rem;
       
    }
    .layout{
        width: 250vw;
    }
    
}