Point_of_Sale.API/.vs/Point_of_Sale.API/*




Point_of_Sale.API/Framework.Validator/bin/*
Point_of_Sale.API/Framework.Validator/obj/*

Point_of_Sale.API/.vs/*

Point_of_Sale.API/.vs/Point_of_Sale.API/v17/.futdcache.v1
Point_of_Sale.API/.vs/Point_of_Sale.API/DesignTimeBuild/.dtbcache.v2

Point_of_Sale.API/Point_of_Sale/obj/*
Point_of_Sale.API/Point_of_Sale/bin/*



